* {
  box-sizing: border-box;
  overflow-x: hidden;
}

#knapp {
  margin-left: 100px;
  width: 100vw;
  height: 40px;
  border-radius: 10px;
  justify-content: center;
}

#knapp:hover {
  opacity: 0.9;
  cursor: pointer;
}

body {
  width: 100vw;
  background-color: #333;
  color: #ddd;
}

.wrapper {
  width: 50vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.input {
  width: 50vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  border: 1px solid#ded;
}
.input-username {
  display: flex;
  gap: 2rem;
}
.input-message {
  display: flex;
  gap: 2rem;
}

#messages {
  width: 50vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  border: 1px solid#ded;
}
.message {
  display: flex;
  gap: 2rem;
}
