* {
  margin: 0;
}
body,
html {
  width: 100%;
  height: 100%;
  background-color: #931515;
  display: flex;
  align-items: center;
}
#resultater {
  padding: 10px;
  margin-left: 10%;
  width: 15%;
  height: 40vh;
  border: 2px black solid;
  overflow-y: scroll;
  background-color: gray;

  /* display: flex; */

  /* justify-content: center; */
  /* align-items: center; */
}

#knapp {
  margin-left: 200px;
  width: 200px;
  height: 40px;
  border-radius: 10px;
}

#knapp:hover {
  opacity: 0.9;
  cursor: pointer;
}
