* {
  margin: 0;
}
body,
html {
  width: 100%;
  min-height: 100%;
  background-color: rgb(147, 21, 21);
  display: flex;
  align-items: center;
}
#resultater {
  padding: 10px;
  margin-left: 10%;
  width: 15%;
  height: 40vh;
  border: 2px black solid;
  overflow-y: scroll;

  /* display: flex; */

  /* justify-content: center; */
  /* align-items: center; */
}
